@media all and (max-width: 480px){
	/*MAIN STYLES*/
	.features__h3, .works__h3, .meet-our-team__h3,
	.some-fan-facts__h3, .lets-discuss__h3{
		font-size: 20px;
		padding-top: 35px;
	}
	.features-heart__p, .works-heart__p, 
	.some-fan-facts-heart__p, .meet-our-team-heart__p, 
	.lets-discuss-heart__p{
		font-size: 16px;
	}
	.features-heart__p::after, .works-heart__p::after, 
	.some-fan-facts-heart__p::after, .meet-our-team-heart__p::after, 
	.lets-discuss-heart__p::after{
		width: 45px;
		top: 10px;
		left: 25px;
	}
	.features-heart__p::before, .works-heart__p::before, 
	.some-fan-facts-heart__p::before, .meet-our-team-heart__p::before, 
	.lets-discuss-heart__p::before{
		width: 45px;
		top: 10px;
		left: -50px;
	}
	.header-menu__h2, .footer-elements-first__h2{
		font-size: 20px;
	}
	.works__p, .meet-our-team__p, 
	.lets-discuss__p{
		font-size: 12px;
		line-height: 14px;
	}
	/*HEADER*/

	/*FEATURES*/
	.features__h3{
		padding-top: 35px; 
	}
	.features-heart__p{
		padding-bottom: 20px;
	}
	.features-slider{
		width: 100%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}
	.features-slider-item-icon-boarder{
		margin-left: 40px;
	}
	.features-slider-item-text{	
		width: 75%;
	}
	.features-slider-item-text__p{
		width: 90%;
	}
	.features-slider-item-icon{
		width: 25%;
	}
	/*WORKS*/
	.works-nav{
		width: 90%;
		margin: 10px auto 20px;
	}
	.works-nav__a{
		padding: 5px 10px;		
		font-size: 12px;
	}
	.works-images{
		width: 100%;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		margin: 0 auto;
	}
	.works-images-item{
		width: 90%;
		margin: 0 auto;
	}
	.works-images-item_hover-div-eye{
		margin: 0 auto 20px;
		width: 40px;
		height: 40px;
		font-size: 20px;
		line-height: 40px;
	}
	.works-images-item_hover__p{
		font-size: 18px;
	}
	.works-images-item_hover__span{
		font-size: 14px;
	}
	/*MEET_OUR_TEAM*/
	.meet-our-team__p{
		width: 90%;
		padding-bottom: 50px;
	}
	.meet-our-team-images-item img{
		filter: grayscale(100%);
		width: 90%;
		margin: 0 auto;
	}
	.meet-our-team-images-item{
		margin-right: 0px;
	}
	.meet-our-team{
		padding-bottom: 70px;
	}
	.meet-our-team-images-item_hover{
		left: 20px;
		right: 20px;
	}
	.meet-our-team-images-item_hover-icon-wrap{
		margin: 100px auto 0px;
	}
	.meet-our-team-images-item_hover__span{
		margin: 50px auto 100px;
	  font-size: 26px;
	}
	.meet-our-team-images-item_hover__p{
		width: 65%;
		font-size: 20px;
	}
	/*SOME_FUN_FACTS*/
	.some-fan-facts{
		padding-bottom: 135px;
		width: 90%;
		margin: 0 auto;
	}
	.some-fan-facts-elements-item-icon{
		width: 80px;
		height: 80px;
		font-size: 26px;
		line-height: 80px;
	}
	.some-fan-facts-elements-item__span{
		font-size: 35px;
		font-weight: 300;
		padding-top: 20px;
	}
	.some-fan-facts-elements-item__p{
		font-size: 10px;
		font-weight: 300;
	}
	.some-fan-facts{
		padding-bottom: 40px;
	}
	.some-fan-facts-elements{
		flex-wrap: wrap;
		width: 70%;
		margin: 0 auto;
	}
	.some-fan-facts-elements-item{
		width: 50%;
		margin-bottom: 20px;
	}
	/*LETS DISCUSS*/
	.lets-discuss__p{
		width: 90%;
		padding-bottom: 40px;
	}

	.lets-discuss-elements{
		display: flex;
		flex-direction: column;
	}
	.lets-discuss-elements-item-address{
		width: 90%;
		margin: 0 auto; 
		text-align: center;
	}

	.lets-discuss-elements-item-form{
		width: 90%;
		margin: 0 auto; 
	}
	.lets-discuss-elements-item-icons{
		margin: 0 auto;
		width: 40%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		font-size: 20px;
		text-align: center;
	}
	.lets-discuss-elements-item-address__address{
	text-align: center;
	margin: 0 auto;
	}
	.lets-discuss-elements-item-form__p{
		font-size: 20px;
		text-align: center;
		}
	.lets-discuss-elements-item-address,
	.lets-discuss-elements-item-form{
		padding-bottom: 20px; 
	}
	.lets-discuss-elements{
		padding-bottom: 50px;
	}
	.lets-discuss-elements-item-form-submit-container{
		display: block;
		float: none;
		margin: 0 auto;
		text-align: center;
		padding-top: 35px;
	}
	/*MAP*/
	#map{
		margin: 0 auto;
		width: 90%;
		height: 100vh;
	}
	/*FOOTER*/
		.footer{
		padding-top: 25px;
		padding-bottom: 50px;
	}
	.footer-elements{
		width: 100%;
		flex-direction: column;
		margin: 0 auto;
	}
	.footer-elements-item{
		width: 45%;
		margin: 0px auto; 
	}
	.footer-elements-first__p, .footer-elements-second__p{
		text-align: center;
	}
	.footer-elements-first__h2{
		text-align: center;
}
	.footer-elements-second__span, .footer-elements-third__span{
		display: block;
		text-align: center;
	}
	.footer-elements-second__search{
		width: 100%;
	}
	.footer-elements-second__submit{
		right: 10px;
	}
	.footer-elements-third__li{
		text-align: center;
	}
	.footer-elements-four-top{
		margin-top: 30px;
		padding-left: 15px;
		border-top: 2px solid rgba(24, 37, 54, 0.3);
		border-left: none;
	}
	.footer-elements-four-bottom{
		padding-top: 5px;
		display: block;
		text-align: center;
	}
}