.features{
	overflow: hidden;
	background-color: #f4f7f9;
	padding-bottom: 100px; 
}
.features__h3{
	padding-top: 77px; 
}
.features-heart__p{
	padding-bottom: 65px;
}
.features-slider{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.features-slider-item{
	width: 30%; 
	display: flex; 
	margin: 0 15px;
}
.features-slider-item-icon{
	width: 15%;
	padding-top: 5px;
	float: left;
}
.features-slider-item-icon-boarder{
	font-size: 20px;
	line-height: 40px;
	margin-right: 15px;
	color: #0eb493;
	border: 1px solid #0eb493;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	text-align: center;
}
.features-slider-item-text__h5{
	color: #062033;
	font-family: "Open Sans", sans-serif;
	font-size: 20px;
	font-weight: 700;
}
.features-slider-item-text__p{
	opacity: 0.7;
	color: #062033;
	font-family: "Open Sans";
	font-size: 13px;
	font-weight: 300;
	line-height: 21px;
	text-align: justify;
}
.features-slider-item-text{
	width: 85%;
	float: right;
}
/*ВСЕ ОЧЕНЬ КРИВО*/
/*МЕДИА*/
@media all and (max-width: 480px){
	.features__h3{
		padding-top: 35px; 
	}
	.features-heart__p{
		padding-bottom: 20px;
	}
	.features-slider{
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.features-slider-item-icon-boarder{
	margin-left: 40px;
}
.features-slider-item-text{	
	width: 75%;
}
.features-slider-item-text__p{
	width: 90%;
}
.features-slider-item-icon{
	width: 25%;
}
}