.lets-discuss{
	background: #fff;
}
.lets-discuss-elements{
	width: 100%;
	margin: 0 auto;
	display: flex;
	padding-bottom: 105px;
}
.lets-discuss-elements-item-address{
	width: 25%;
	margin-right: 40px;
}
.lets-discuss-elements-item-address__p{
	color: #6a737b;
	font-family: "Open Sans";
	font-weight: 500; /*ЧЕТО ПОДУМАТЬ ТУТ*/
	color: #062033;
	font-size: 22px;
	line-height: 32px;
}
.lets-discuss-elements-item-address__address{
	width: 65%;
	padding-top: 20px;
	color: #6a737b;
	font-family: "Open Sans";
	font-size: 13px;
	font-weight: 100;
	line-height: 24px;
	font-style: normal;
}
.lets-discuss-elements-item-form{
	width: 65%;
	margin-right: 40px;
}
.lets-discuss-elements-item-form__p{
	color: #062033;
	font-family: "Open Sans";
	font-size: 24px;
	font-weight: 700;
	line-height: 24px;
}
.lets-discuss-elements-item-form__form label[for="name"],
.lets-discuss-elements-item-form__form label[for="e-mail"],
.lets-discuss-elements-item-form__form label[for="message"]{
	display: block;
	opacity: 0.5;
	color: #5b646e;
	font-family: "Open Sans";
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
}
.lets-discuss-elements-item-form__form input[type="text"]{ 
	border: none;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	
}
.lets-discuss-elements-item-form__form label[for="name"],
.lets-discuss-elements-item-form__form label[for="e-mail"],
.lets-discuss-elements-item-form__form input[id="name"],
.lets-discuss-elements-item-form__form input[id="e-mail"]{
	width: 100%;
}
.lets-discuss-elements-item-form__form label[for="message"],
.lets-discuss-elements-item-form__form input[id="message"]{
	width: 100%;
}

.lets-discuss-elements-item-form__form input[type="text"]:focus{
	outline: none;
}
.lets-discuss-elements-item-form-container{
	width: 100%;
	display: flex;
	padding-bottom: 35px;
}
.lets-discuss-elements-item-form-container-item{
	width: 50%;
}
.lets-discuss-elements-item-form-container-item:first-child{
	margin-right: 30px;
}
.lets-discuss-elements-item-form__form input[type="submit"]{
	background: none;
	border: none;
}
.lets-discuss-elements-item-form__form label[for="submit"]{
	 color: rgb(102, 178, 147);
	 margin-right: 10px; 
}
.lets-discuss-elements-item-form-submit-container{
	display: inline-block;
	float: right;
	padding-top: 35px;
}
.lets-discuss-elements-item-form-submit-container:hover,
.lets-discuss-elements-item-form__form label[for="submit"]:hover,
.lets-discuss-elements-item-form__form input[type="submit"]:hover
{
	cursor: pointer;
}
.lets-discuss-elements-item-icons{
	width: 10%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 20px;
}
.lets-discuss-elements-item-icons__a{
	color: #d1d3d7;
}
.lets-discuss-heart__p{
	padding-bottom: 40px;
}
.lets-discuss__p{
	padding-bottom: 80px;	
}
/*media*/
@media all and (max-width: 480px){
	.lets-discuss__p{
		width: 90%;
		padding-bottom: 40px;
	}

	.lets-discuss-elements{
		display: flex;
		flex-direction: column;
	}
	.lets-discuss-elements-item-address{
		width: 90%;
		margin: 0 auto; 
		text-align: center;
	}

	.lets-discuss-elements-item-form{
		width: 90%;
		margin: 0 auto; 
	}
	.lets-discuss-elements-item-icons{
		margin: 0 auto;
		width: 40%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		font-size: 20px;
		text-align: center;
	}
	.lets-discuss-elements-item-address__address{
	text-align: center;
	margin: 0 auto;
	}
	.lets-discuss-elements-item-form__p{
	font-size: 20px;
	text-align: center;
	}
.lets-discuss-elements-item-address,
.lets-discuss-elements-item-form{
	padding-bottom: 20px; 
}
.lets-discuss-elements{
	padding-bottom: 50px;
}
.lets-discuss-elements-item-form-submit-container{
	display: block;
	float: none;
	margin: 0 auto;
	text-align: center;
	padding-top: 35px;
}
}