.meet-our-team{
	padding-bottom: 160px;
}
.meet-our-team-heart__p{
	padding-bottom: 35px;
}
.meet-our-team__p{
	padding-bottom: 100px;
}
.meet-our-team-images{
	display: flex;
	justify-content: space-between;
}
.meet-our-team-images-item img{
	filter: grayscale(100%);
	width: 100%;
}
.meet-our-team-images-item__span{
	display: block;
	text-align: center;
	color: #062033;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
}
.meet-our-team-images-item__p{
	text-align: center;	
	opacity: 0.56;
	color: #062033;
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
}
.meet-our-team-images-item{
	position: relative;
	margin: 0 10px;
}

.meet-our-team-images-item_hover{
  	background-color: rgba(102, 178, 147, 0.9);
	position: absolute;
	top: 0;
	left: 0;
	right: 0px;
	bottom: 50px; /*РЕШИТЬ ПРОБЛЕМУ)*/
	opacity: 0;
	transition: all 0.3s;
}
.meet-our-team-images-item_hover__span{
	display: block;
		width: 85%;
	margin: 20px auto;
  font-size: 16px;
  font-family: "OpenSans", sans-serif;
  color: #fff;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
}
.meet-our-team-images-item_hover__p{
	width: 85%;
	margin: 0 auto;
	font-size: 16px;
  font-family: "OpenSans", sans-serif;
  color: #fff;
  font-weight: 100;
  line-height: 25px;
  text-align: center;
}
.meet-our-team-images-item_hover-icon-wrap{
	display: flex;
	width: 50%;
	margin: 50px auto 0px;
}
.meet-our-team-images-item_hover__icon{
  background-color: rgba(0, 0, 0,0.3);
  width: 40px;
  height: 40px;
  text-align: center;
  margin: 0 auto;
  color: #fff;
	font-size: 20px;
	line-height: 40px;
	position: relative;
}
.meet-our-team-images-item_hover__a{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

}
.meet-our-team-images-item:hover .meet-our-team-images-item_hover{
	display: block;	
	opacity: 0.9;
}
.meet-our-team-images-item:hover .meet-our-team-images-item__span{
	color: #66b293; 
}
.meet-our-team-images-item__a{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 50px;
}
/*MEDIA*/
@media all and (max-width: 480px){
	.meet-our-team__p{
	width: 90%;
	padding-bottom: 50px;
}
.meet-our-team-images-item img{
	filter: grayscale(100%);
	width: 90%;
	margin: 0 auto;
}
.meet-our-team-images-item{
	margin-right: 0px;
}
.meet-our-team{
	padding-bottom: 70px;
}
.meet-our-team-images-item_hover{
	left: 20px;
	right: 20px;
}
.meet-our-team-images-item_hover-icon-wrap{
	margin: 100px auto 0px;
}
.meet-our-team-images-item_hover__span{
	margin: 50px auto 100px;
  font-size: 26px;
}
.meet-our-team-images-item_hover__p{
	width: 65%;
	font-size: 20px;
}
}
