.works-nav{
	width: 550px;
	margin: 20px auto 40px;
	text-align: center;
}
.works-nav__a{
	padding: 10px 20px;		
	color: #062033;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 700;
	border-radius: 10px;
	transition: all 0.3s;
}
.works-nav__a:hover{
	background-color: #0eb493;
	border-radius: 10px;
	color: #fff;
}
.works-heart__p{
	padding-bottom: 35px;
}
.works__p{
	padding-bottom: 40px;
}
.works-images{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}
.works-images-item{
	width: 25%;
	position: relative;
}
.works-images-item__img{
	width: 100%;	
}
/*ссылка*/
.works-images-item__a{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
/*Картинка при наведении*/
.works-images-item_hover__p{
  font-size: 18px;
  font-family: "OpenSans", sans-serif;
  color: #fff;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
}
.works-images-item_hover__span{
	display: block;
	font-size: 14px;
  font-family: "OpenSans", sans-serif;
  color: #fff;
  font-weight: 300;
  line-height: 25px;
  text-align: center;
}
.works-images-item_hover{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #0eb493;
	opacity: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: opacity 0.3s;
}
.works-images-item:hover .works-images-item_hover{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0.9;
}
.works-images-item_hover-div-eye{
	margin: 0 auto 20px;
	width: 40px;
	height: 40px;
	border: 1px solid #ffffff;
	color: #ffffff;
	border-radius: 50%;
	text-align: center;
	font-size: 20px;
	line-height: 40px;
}
/*ИЗОБРАЖЕНИЯ МЕНЬШЕ НАВЕДЕНИЯ*/
/*MEDIA*/
@media all and (max-width: 480px){
	.works-nav{
		width: 90%;
		margin: 10px auto 20px;
	}
	.works-nav__a{
		padding: 5px 10px;		
		font-size: 12px;
	}
	.works-images{
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 0 auto;
}
.works-images-item{
	width: 90%;
	margin: 0 auto;
}
}